<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Team Members</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <mat-table [dataSource]="teamMembers">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let member"> {{member.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="accuracy">
          <mat-header-cell *matHeaderCellDef> Accuracy </mat-header-cell>
          <mat-cell *matCellDef="let member"> {{member.accuracy}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnHeaders"></mat-header-row>
        <mat-row *matRowDef="let member; columns: columnHeaders;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
