<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Project Info</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-md-8 col-lg-6">
      <form [formGroup]="projectInfoForm" (ngSubmit)="onSubmit()" class="project-info-form">
        <mat-form-field class="col-xs-7">
          <input matInput placeholder="Team Name" formControlName="team_name">
        </mat-form-field>
        <mat-form-field class="col-xs-7">
          <input matInput placeholder="Product Name" formControlName="product_name">
        </mat-form-field>
        <mat-form-field class="col-xs-7">
          <input matInput placeholder="Hyperlink" formControlName="hyperlink">
        </mat-form-field>
        <mat-form-field class="col-xs-7">
          <input matInput [matDatepicker]="startDatePicker" formControlName="start_date" placeholder="Start Date">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-xs-7">
          <input matInput formControlName="point_hour_ratio" placeholder="Point to Hour Ratio">
        </mat-form-field>
        <mat-form-field class="col-xs-7">
          <input matInput formControlName="velocity" placeholder="Velocity">
        </mat-form-field>
        <div class="submit-button-wrapper col-xs-12">
          <button [disabled]="!projectInfoForm.valid" mat-raised-button>Save Info</button>
        </div>
      </form>
    </div>
  </div>
</div>
