<mat-nav-list>
  <a mat-list-item [routerLink]='["/"]'>
    <mat-icon color="primary">home</mat-icon> Dashboard
  </a>
  <a mat-list-item [routerLink]='["/active-sprint"]'>
    <mat-icon color="primary">directions_run</mat-icon> Active Sprint
  </a>
  <a mat-list-item [routerLink]='["/team"]'>
    <mat-icon color="primary">people</mat-icon> Team
  </a>
  <a mat-list-item [routerLink]='["/reports"]'>
    <mat-icon color="primary">poll</mat-icon> Reports
  </a>
  <a mat-list-item [routerLink]='["/backlog"]'>
    <mat-icon color="primary">weekend</mat-icon> Backlog
  </a>
  <a mat-list-item [routerLink]='["/project-info"]'>
    <mat-icon color="primary">info</mat-icon> Project Info
  </a>
</mat-nav-list>
