<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>User Story</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-md-8 col-lg-6">
      <form [formGroup]="userStoryForm" (ngSubmit)="onSaveStory()" class="user-story-form">
        <mat-form-field class="col-xs-12">
            <input matInput placeholder="Story Description" formControlName="description">
        </mat-form-field>
        <mat-form-field class="col-xs-6 col-lg-4">
          <mat-label>Status</mat-label>
          <mat-select [(value)]="statusSelected">
            <mat-option *ngFor="let status of statuses" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-xs-7">
          <input matInput formControlName="estimate" placeholder="Estimated Hours">
        </mat-form-field>
        <div class="col-xs-7">
          <span class="form-inline">Actual Hours</span>
          <mat-chip-list>
            <mat-chip disabled selected="true" color="accent">{{story?.actual}}</mat-chip>
          </mat-chip-list>
        </div>
        <div class="save-button-wrapper col-xs-12">
          <button [disabled]="!userStoryForm.valid || userStoryForm.pristine" mat-raised-button>Save Story Info</button>
        </div>
      </form>
    </div>
  </div>
</div>
