<div class="container">
  <div class="row">
    <div class="col-xs-11">
      <h1>Product Backlog</h1>
      <mat-list *ngIf="isStoriesLoaded">
        <mat-list-item class="col-xs-12" *ngFor="let story of stories">
          <div class="col-xs-1">
            <mat-chip-list>
              <mat-chip disabled selected="true" color="accent">{{story.estimate}}</mat-chip>
            </mat-chip-list>
          </div>
          <div class="col-xs-8">
            <h4 matLine>{{story.description}}</h4>
          </div>
          <div class="col-xs-3">
            <a mat-flat-button color="primary" [routerLink]="['/user-story', story.story_ID]"
               routerLinkActive="active">View Info</a>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <div class="col-xs-10"></div>
      <div class="col-xs-2">
        <a mat-fab>
          <mat-icon>add</mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
