<mat-sidenav-container fullscreen>
  <mat-sidenav opened mode="side">
    <app-nav-menu></app-nav-menu>
  </mat-sidenav>
  <section>
  </section>
  <router-outlet></router-outlet>
</mat-sidenav-container>
